/* common shared styles */
* {
    margin: 0;
    padding: 0;

}

.font-merriweather {
    font-family: "Merriweather", serif;
}

.font-inter {
    font-family: "Inter", serif;
}

.color-primary {
    color: rgba(255, 0, 0, 1);
}

.container {
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

#discount {
    margin-top: 80px;
}

button {
    color: #FFFFFF;
    background: #FF0000;
    font-weight: 700;
    font-size: 20;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

/* banner related styles */
.banner {
    background: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url('../resources/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;

}

.banner-heading {
    text-align: center;
    max-width: 630px;
    margin: 0 auto;
    padding: 200px 0;
}

.banner .banner-heading h4 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 32px;
}

.banner .banner-heading h1 {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 72px;
}

/* discount related styles */
.discount-main .discount-heading,
.discount-main .new-year-img {
    margin: 0 auto;
}

.discount-main .discount-heading {
    max-width: 410px;
    margin-bottom: 45px;
}

.discount-main .discount-heading h2 {
    color: #FF0000;
    font-weight: 700;
    font-size: 88px;
    margin-bottom: 45px;
}

.discount-main .discount-heading p {
    color: #FF0000;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}

.discount-main .discount-heading h3 {
    color: #070211;
    font-weight: 700;
    font-size: 48px;
}

.discount-main .new-year-img {
    max-width: 802px;
}

.discount-main .new-year-img {
    width: 100%;
}

/* midnight party related styles */
#midnight {
    margin-top: 80px;
}

.midnight-main {
    background: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 50px 0;
    margin: 0 auto;
}

.midnight-main .midnight-content,
.midnight-main .midnight-img {
    margin: 0 auto;
}

.midnight-main .midnight-content {
    max-width: 700px;
}

.midnight-main .midnight-content * {
    margin-bottom: 20px;
}

.midnight-main .midnight-content h2 {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 64px;
}

.midnight-main .midnight-content p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;

}

.midnight-main .midnight-img {
    max-width: 300px;
}

.midnight-main .midnight-img img {
    width: 100%;
}

/* party details related styles */
#party-details {
    margin-top: 80px;
}

.party-details-main {
    background: linear-gradient(rgba(255, 0, 0, 1), rgba(255, 0, 0, 0));
}

.party-details-main .party-details-content {
    max-width: 550px;
    text-align: center;
    color: #070211;
    font-weight: 600;
    font-size: 32px;
    padding: 100px 0;
    margin: 0 auto;
}

.party-details-main .party-details-content button {
    margin-top: 45px;
}

/* best gift related styles */
#best-gift {
    margin-top: 80px;
}

.best-gift-main .best-gift-heading * {
    max-width: 900px;
    margin-bottom: 15px;
}

.best-gift-main .best-gift-heading #gift {
    font-weight: 500;
    font-size: 24px;
}

.best-gift-main .best-gift-heading h2 {
    color: #070211;
    font-weight: 900;
    font-size: 48px;
}

.best-gift-main .best-gift-heading #description {
    color: rgba(7, 2, 17, 0.6);
    font-weight: 400;
    font-size: 20px;
}

.best-gift-content {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.best-gift-content .best-gift-img {
    transition: .2s;
}

.best-gift-content .best-gift-img:hover {
    transform: scale(1.03);
}

/* newsletter related styles */
#newsletter {
    margin-top: 80px;
}

.newsletter-main {
    padding: 50px 0;
    background: rgba(255, 0, 0, 0.05);
}

.newsletter-heading * {
    margin-bottom: 20px;
}

.newsletter-heading {
    max-width: 738px;
    text-align: center;
    margin: 0 auto;
}

.newsletter-heading h2 {
    color: #070211;
    font-weight: 900;
    font-size: 48px;
}

.newsletter-heading p {
    color: rgba(7, 2, 17, 0.6);
    font-weight: 400;
    font-size: 20px;
}

.newsletter-main form {
    max-width: 530px;
    margin: 30px auto;
    display: flex;
}

.newsletter-main form input {
    max-width: 330px;
    flex-grow: 1;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 50px 0px 0px 50px;
}

.newsletter-main form button {
    border-radius: 0px 50px 50px 0px;
    padding: 20px 50px;
}

/* footer related styles */
#footer {
    margin-top: 80px;
    background: #070211;
}

.footer-main {
    padding: 100px 0;
}

#footer .footer-main {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
}

.footer-main .address {
    display: flex;
    justify-content: space-between;
}

.footer-main .address .address-details {
    max-width: 375px;
}

.footer-main .address .address-contact-information {
    max-width: 250px;
    margin-right: 80px;
}

.footer-main .address .address-contact-information p i {
    margin-right: 8px;
}

.footer-main .ruler {

    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 30px 0;

}

.footer-main .social-links {
    display: flex;
    gap: 20px;
    max-width: 320px;
    margin: 0 auto;
}
.footer-main .footer-end{
    display: flex;
    justify-content: space-between;
}
.footer-main .footer-end .footer-end-button button{
    padding: 15px 30px;
}